@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a{
	color: #dd4f24;
}

body
{
	background: #efefef;
	color: #4C4C4C;
	font-family: "pt sans", Arial;
	font-size: 16px;
	margin: 0;
}
header
{

	background: #434343;
	padding: 0.5em;
	color: #fff;
}
header figure, header h1{
	display: inline-block;
	vertical-align: top;
}
header h1{
	font-size: 20px;
	font-weigth: normal;
	margin:  1em 0 0 1em;
	width: 60%;
}

header #avatar  {

	float: right;
	margin: 1em 1em 0 0;
}

header #avatar figcaption {
	background: #22BCE0;
	float: right;
	height: 50px;
	line-height: 50px;
}

header #avatar figcaption:after {
	content: "\e001";
	font-family: "icomoon";
	font-size: 0.7em;
	opacity: 0.5;
}
header #avatar  img{
	float: left;
	width: 50px;
}
header #logo img{
	width: 80px;
}
nav{
	background: #878787;
	font-size: 0.9em;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0 1em 0 0;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0.5em 0;
}
nav #flechita_nav a{
	padding: 0.5em 0;
	text-decoration: none;
	background: #22bce0;
}
nav #flechita_nav a:after{
	content: "\e000";
	font-family: "icomoon";
	opacity: 0.5;
}
nav #publicar_nav {
	float: right;
	margin-right: 0;
	padding-right: 0.8em;
	background: #dd4F24;
	position: relative;
}
nav #publicar_nav:after {
	content: "\e003";
	font-family: "icomoon";
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.8em;
}
nav #publicar_nav a{
	
	padding: 0.5em 1em;
	display: inline-block;
}
#contenido{

	margin: 1em;
}
#contenido .item{
	background: #fff;
	border-bottom: 3px solid #22bce0;
	position: relative;
	margin-bottom:3em;
	min-height: 128px;
}

#contenido .item p{
	color: #7a7a7a;
	font-size:0.9em;
}

#contenido .item .datos_item .tag_item{
	background: #22bce0;
	border-radius: 0.5em;
	color: #fff;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
#contenido .item .imagen_item{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1em;
	padding: 0.5em 0.5em 0;
	font-style: italic;
}
#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion{
	border-radius: 0 0 0.5em  0.5em;
	width: 96px;
	position: absolute;
	background: #fff;
	margin: 3px 0 0 0;
	top: 100%;
	padding: 0.5em 0;
	text-align: center;
}
#contenido .item .votacion .down,
#contenido .item .votacion .up{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-aling: bottom;
}
#contenido .item .votacion a{
	text-decoration: none;
}
#contenido .item .votacion .down:before{
	content: "\e001";
	color: red;
}
#contenido .item .votacion .up:before{
	content: "\e002";
	color: green;
}