@media screen and (min-width:768px)

{
	body{
			max-width: 1200px;
			margin: 0 auto;
		}
		
	
	
	#bienvenida{
		display: block;
		width: 25%;
		float: right;
		margin-right: 2%;
		border-bottom: 1px solid #ccc;
	}
	#bienvenida h2{
		color:#434343;
		
	}
	#bienvenida #mensaje_registro,
	#bienvenida #registro{
		text-align: center;
	}
	#bienvenida #mensaje_registro{
		font-size: 0.8em;
	}
	
	#bienvenida #registro{
		display: block;
		color: #fff;
		background: #22bce0;
		padding: 0.5em 0;
		font-size: 1.2em;
	}
	#contenido{
		width: 70%;
	}

}